.header {
	display: flex;	
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header__logo {
	padding-top: 13px;
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__menu {
	text-transform: uppercase;
	display: flex;
}

.header__menu-item {
	display: flex;
	align-items: center;
}

.header__menu-item:hover {
	text-decoration: underline;
}

.header__menu-item:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	background-color: white;
	border-radius: 50%;
	height: 5px;
	width: 5px;
	margin-left: 16px;
	margin-right: 16px;
}

.header__menu-item:last-child:after {
	display: none;
}

.nav__link {
	list-style-type: none;
	font-family: ubuntumedium;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}

.header__button {
	font-family: ubuntumedium;
	font-size: 13px;	
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #e45028;
	border-radius: 4px;
	margin-left: 15px;
	padding: 13px 16px 13px 16px;
}