.three	{
	background-color: black;		
	color: #fff;			
}

.conteinerthree {
	height: 100%;
}

.feedback {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.feedbackelement {
	width: 25%;
	height: 50%;			
	display: flex;
	flex-direction: column;
	align-content: center;
	position: relative;		
}

.feedback__content {
	position: absolute;
}

.feedback__img {	
	width: 100%;
	height: 100%;
	background-size: cover;	
	background-repeat: no-repeat;
	filter: grayscale(100%);
}

.fbi1 {
	background-image: url('../img/p1.png');
}

.fbi2 {
	background-image: url('../img/p2.png');
}

.fbi3{
	background-image: url('../img/p3.png');
}

.fbi4 {
	background-image: url('../img/p4.png');
}

.fbi5 {
	background-image: url('../img/p5.png');
}

.fbi6 {
	background-image: url('../img/p6.png');
}

.fbi7 {
	background-image: url('../img/p7.png');
}

.fbi8 {
	background-image: url('../img/p8.png');
}

.feedbackelement__name {
	font-family: gagalin;
	font-size: 14px;
	padding-left: 20px;
	padding-top: 50px;	
}

.feedbackelement__text {
	font-family: ubuntulight;
	font-size: 14px;	
	line-height: 1.5;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;	
}

.feedbackelement__button {
	font-family: ubuntumedium;
	font-size: 13px;	
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #2f3234;
	border-radius: 4px;	
	padding: 13px 16px;
	width: 100px;
	text-align: center;
	margin-left: 20px;
}

.feedbackelement__button:hover {
	background-color: #000;
}