@import url('normalize.css');
@import url('stylesheet.css');
@import url('header.css');
@import url('navigation.css');
@import url('section1.css');
@import url('section2.css');
@import url('section3.css');

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

ul {
	margin: 0;
	padding: 0;
}

section {
	height: 100vh;
	min-height: 650px;
}