.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	min-height: 0;
}

section {
	height: 100%;
	min-height: rem(650px);
	min-width: rem(940px);
	background-color: rgba(0,0,0,0.31);
}

.container {
	max-width: rem(940px);
	position: relative;
	width: 95%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

